{% extends "./base.html" %}

{% block content %}
    <h1>Title: {{book.title}}</h1>

    <p>
        Author: <a href="{{book.author.get_absolute_url}}">{{book.author}}</a><br>
        Summary: {{book.summary}}<br>
        Genre: {{book.genre}}<br>
        Publisher: {{book.publisher}}<br>
        ISBN: {{book.isbn}}
    </p>

    <h3>Copies:</h3>
    
    {% for copy in book.bookinstance_set.all %}
        <hr>
        <p>
            {{ copy.get_status_display }}
            {% if user.is_authenticated %}
                {% if copy.status == 'a' %}
                    <br><a href="{% url 'borrow_book_request' book.pk copy.id %}">Borrow</a>
                {% endif %}
            {% endif %}
        </p>
        {% if copy.status != 'a' %}
            <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
        {% endif %}
        <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
        <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
{% endblock %}